.text {
  font-family: "Calibri", Arial, sans-serif;
}

h1 {
  text-align: center;
}

h3::first-letter {
  font-size: 40px;
}

h4 {
  background-color: rgba(137, 15, 15, 0.6);
}

h4 {
  color: white;
}

nav {
  text-align: center;
}

.page-nav {
  background-color: rgba(85, 16, 17, .3);
}

a:hover {
  color: rgba(137, 15, 15, 0.6);
}

tr:nth-child(even) {
  background: #CCC;
}

footer {
  background-color: rgba(134, 18, 18, 0.02);
}

.ingredients {
  color: rgba(26, 34, 126, 0.58);
}

.implements {
  color: rgba(26, 126, 52, 0.58);
}

figcaption {
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
  font-size: .75em;
}

.step-image {
  box-shadow: 5px 5px 10px #888888;
}
