body {
  margin: 0 auto;
  max-width: 70%;
}

.text {
  font-family: "Calibri", Arial, sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h3::first-letter {
  font-size: 40px;
}

h4 {
  background-color: rgba(137, 15, 15, 0.6);
  font-size: 20px;
}

h4 {
  color: white;
}

nav {
  text-align: center;
}

.page-nav {
  background-color: rgba(85, 16, 17, .3);
}

.highlight{
  transition: all 2s ease 0s;
}

.highlight:hover {
  border-radius: 50%;
}

a:hover {
  color: rgba(137, 15, 15, 0.6);
}


footer {
  margin-top: 5rem;
  background-color: rgba(134, 18, 18, 0.02);
}

.ingredients {
  color: rgba(26, 34, 126, 0.58);
}

.implements {
  color: rgba(26, 126, 52, 0.58);
}

figcaption {
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
  font-size: .75em;
}

.step-image {
  box-shadow: 5px 5px 10px #888888;
}
